<!DOCTYPE html>
{%load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicacion</title>
    <link rel="stylesheet" href="{%static "css/estilos.css" %}"/>
</head>



<body>
  <div class="cabecera">
    <h2>Nueva Publicacion</h2> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<h2>Siguiente</h2>

</div>
 
  <div class="imagen">
      <img src="{% static "images/baltasar.jpg" %}" width="500px" height="350px">
  </div>
 

  <br/>


  <div class="boton">
      <button type="button">Seleccionar Imagenes</button>
  </div>  
</body>

</html>